{
  "parser": "@typescript-eslint/parser",
  "parserOptions": { "project": ["./tsconfig.json"] },
  "plugins": ["import", "@typescript-eslint"],
  "extends": ["plugin:@typescript-eslint/recommended"],
	"env": {
		"es6": true,
		"browser": true,
		"node": true
	},
	"rules": {
    "no-debugger": "off",
    "no-console": 0,
    "class-methods-use-this": "off",
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/explicit-function-return-type": "error",
    "no-var-requires": true
  }
}
